@import "tailwindcss";

@import "@fontsource/inter";
@import "@fontsource/fira-code";
@import "@fontsource/source-code-pro";
@import "@fontsource/cormorant-garamond";


@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .font-fira {
    font-family: "Fira Code", monospace;
  }

  .font-sourceCode {
    font-family: "Source Code Pro", monospace;
  }

  .font-cormorant {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
  }
}
